In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("C:/Users/shahc/Downloads/titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [4]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [11]:
inputs=df.drop('Survived',axis='columns')
target = df.Survived
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [13]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [14]:
inputs=pd.concat([inputs,dummies],axis="columns")
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [21]:
inputs.drop(['Sex','female'],axis='columns',inplace=True)
inputs.head()

   Pclass   Age     Fare  male
0       3  22.0   7.2500     1
1       1  38.0  71.2833     0
2       3  26.0   7.9250     0
3       1  35.0  53.1000     0
4       3  35.0   8.0500     1

In [22]:
inputs.columns[inputs.isna().any()

Index(['Age'], dtype='object')

In [26]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.columns[inputs.isna().any()]
inputs.head()

   Pclass   Age     Fare  male
0       3  22.0   7.2500     1
1       1  38.0  71.2833     0
2       3  26.0   7.9250     0
3       1  35.0  53.1000     0
4       3  35.0   8.0500     1

In [37]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [38]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [44]:
model.fit(x_train,y_train)

GaussianNB()

In [45]:
model.score(x_test,y_test)

0.7425373134328358

In [46]:
x_test[:10]

     Pclass        Age      Fare  male
156       3  16.000000    7.7333     0
321       3  27.000000    7.8958     1
580       2  25.000000   30.0000     0
587       1  60.000000   79.2000     1
755       2   0.670000   14.5000     1
754       2  48.000000   65.0000     0
780       3  13.000000    7.2292     0
299       1  50.000000  247.5208     0
773       3  29.699118    7.2250     1
178       2  30.000000   13.0000     1

In [47]:
y_test[:10]

156    1
321    0
580    1
587    1
755    1
754    1
780    1
299    1
773    0
178    0
Name: Survived, dtype: int64

In [48]:
model.predict(x_test[:10])

array([1, 0, 1, 1, 0, 1, 1, 1, 0, 0], dtype=int64)

In [49]:
model.predict_proba(x_test[:10])

array([[4.44615005e-01, 5.55384995e-01],
       [9.75630160e-01, 2.43698400e-02],
       [2.63894313e-01, 7.36105687e-01],
       [2.60209728e-01, 7.39790272e-01],
       [8.98398682e-01, 1.01601318e-01],
       [9.64976832e-02, 9.03502317e-01],
       [4.25810137e-01, 5.74189863e-01],
       [4.01164727e-13, 1.00000000e+00],
       [9.75846381e-01, 2.41536193e-02],
       [9.45448695e-01, 5.45513051e-02]])

In [50]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.64      , 0.544     , 0.552     , 0.61290323, 0.56451613])

In [ ]:
#spam Detection using naive bayes

In [52]:
df1=pd.read_csv("C:/Users/shahc/Downloads/spam.csv")
df1.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [54]:
df1.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [67]:
df1['spam']=df1['Category'].apply(lambda x : 1 if x=='spam' else 0)
df1.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [71]:
X_train,X_test,Y_train,Y_test=train_test_split(df1.Message,df1.spam)

In [77]:
from sklearn.feature_extraction.text import CountVectorizer
v= CountVectorizer()
X_train_count=v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [79]:
from sklearn.naive_bayes import MultinomialNB
model2=MultinomialNB()
model2.fit(X_train_count,Y_train)

MultinomialNB()

In [86]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model2.predict(emails_count)

array([0, 1], dtype=int64)

In [90]:
X_test_count = v.transform(X_test)
model2.score(X_test_count, Y_test)

0.9784637473079684

In [ ]:
#Incorporating using Pipeline

In [91]:
from sklearn.pipeline import Pipeline 
clf=Pipeline ([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())  
    
])

In [92]:
clf.fit(X_train,Y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [93]:
clf.score(X_test,Y_test)

0.9784637473079684

In [94]:
clf.predict(emails)

array([0, 1], dtype=int64)

In [ ]:
#practise

In [95]:
from sklearn import datasets
wine = datasets.load_wine()

In [97]:
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [98]:
wine.data[0:2]

array([[1.423e+01, 1.710e+00, 2.430e+00, 1.560e+01, 1.270e+02, 2.800e+00,
        3.060e+00, 2.800e-01, 2.290e+00, 5.640e+00, 1.040e+00, 3.920e+00,
        1.065e+03],
       [1.320e+01, 1.780e+00, 2.140e+00, 1.120e+01, 1.000e+02, 2.650e+00,
        2.760e+00, 2.600e-01, 1.280e+00, 4.380e+00, 1.050e+00, 3.400e+00,
        1.050e+03]])

In [99]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [100]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [102]:
wine.target_names[0:2]

array(['class_0', 'class_1'], dtype='<U7')

In [104]:
wine.target[0:2]

array([0, 0])

In [105]:
df3=pd.DataFrame(wine.data)