In [3]:
import pandas as pd
df=pd.read_csv("C:/Users/shahc/Downloads/wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [5]:
y=pd.Period('2016')
y

Period('2016', 'A-DEC')

In [6]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [7]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [8]:
y.is_leap_year

True

In [10]:
m=pd.Period('2017-12')
m

Period('2017-12', 'M')

In [11]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [12]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [13]:
m+1

Period('2018-01', 'M')

In [14]:
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [16]:
r=pd.period_range('2011','2017',freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [19]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [18]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [25]:
r = pd.period_range('2011','2017',freq='q-jan')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [27]:
import numpy as np

ps=pd.Series(np.random.randn(len(idx)),idx)
pd

NameError: name 'idx' is not defined