In [4]:
import pandas as pd
df= pd.read_csv("C:/Users/shahc/Desktop/Pandas/Book1.csv")
df

         day   temperature   windspeed  Event
0  01-01-2017            32          6   Rain
1  01-02-2017            35          7  Sunny
2  01-03-2017            28          2   Snow
3  01-04-2017            24          7   Snow
4  01-05-2017            32          4   Rain
5  01-06-2017            32          2  Sunny

In [5]:
df.shape

(6, 4)

In [7]:
df[2:5]
#indexing

         day   temperature   windspeed Event
2  01-03-2017            28          2  Snow
3  01-04-2017            24          7  Snow
4  01-05-2017            32          4  Rain

In [10]:
df.columns

Index(['day ', 'temperature ', 'windspeed', 'Event'], dtype='object')

In [25]:
df[['windspeed','day ']]

   windspeed        day
0          6  01-01-2017
1          7  01-02-2017
2          2  01-03-2017
3          7  01-04-2017
4          4  01-05-2017
5          2  01-06-2017

In [27]:
df['windspeed'].max()

7

In [28]:
df['windspeed'].describe()

count    6.000000
mean     4.666667
std      2.338090
min      2.000000
25%      2.500000
50%      5.000000
75%      6.750000
max      7.000000
Name: windspeed, dtype: float64

In [30]:
df.describe()

       temperature   windspeed
count      6.000000   6.000000
mean      30.500000   4.666667
std        3.885872   2.338090
min       24.000000   2.000000
25%       29.000000   2.500000
50%       32.000000   5.000000
75%       32.000000   6.750000
max       35.000000   7.000000

In [31]:
df[df.windspeed<=6]

         day   temperature   windspeed  Event
0  01-01-2017            32          6   Rain
2  01-03-2017            28          2   Snow
4  01-05-2017            32          4   Rain
5  01-06-2017            32          2  Sunny

In [36]:
df[df['temperature ']==df['temperature '].max()]

         day   temperature   windspeed  Event
1  01-02-2017            35          7  Sunny

In [37]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [74]:
df.set_index('day ')
df

KeyError: "None of ['day '] are in the columns"